<a href="https://colab.research.google.com/github/purushotham91/College-degree-vs-salary/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

df = pd.read_csv("salaries_by_college_major.csv")
clean_df = df.dropna()
clean_df.tail()

   Undergraduate Major  ...  Group
45   Political Science  ...   HASS
46          Psychology  ...   HASS
47            Religion  ...   HASS
48           Sociology  ...   HASS
49             Spanish  ...   HASS

[5 rows x 6 columns]

Challanges:

What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

Which college major has the lowest starting salary and how much do graduates earn after university?

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree? *italicized text*

In [28]:
# print(clean_df["Mid-Career Median Salary"].max())
# print(f"The index of the max mid career salary: {clean_df['Mid-Career Median Salary'].idxmax()}") #8
# print(clean_df["Undergraduate Major"][8]) #Chemical Engeneering

# print(clean_df["Starting Median Salary"].min())
# print(f"Index: {clean_df['Starting Median Salary'].idxmin()}") #49
# print(clean_df["Undergraduate Major"][49])

# print(clean_df['Mid-Career Median Salary'].min())
# print(clean_df['Starting Median Salary'][clean_df['Mid-Career Median Salary'].idxmin()])

Sorting Values & Adding Columns: Majors with the most potential vs Lowest risk

Spread Value determining the risk in major
(A low-risk major is a degree where there is a small difference between the lowest and highest salaries. In other words, if the difference between the 10th percentile and the 90th percentile earnings of your major is small, then you can be more certain about your salary after you graduate.)

In [ ]:
spread_col = clean_df["Mid-Career 90th Percentile Salary"] - clean_df["Mid-Career 10th Percentile Salary"]
clean_df.insert(1,"Spread",spread_col)



Using the .sort_values() method, can you find the degrees with the highest potential? Find the top 5 degrees with the highest values in the 90th percentile.

In [27]:
# Majors With highest potential
# highest_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary',ascending=False)
# highest_potential[['Undergraduate Major','Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

Majors with Greates Spread which means highest risk.

In [33]:
greatest_spread = clean_df.sort_values("Spread",ascending=False)
greatest_spread[["Undergraduate Major","Spread"]].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

Grouping based on category of degrees

In [38]:
pd.options.display.float_format = '{:,.2f}'.format

grouped_df = clean_df.groupby("Group").mean()
grouped_df.sort_values("Mid-Career 90th Percentile Salary",ascending=False)

             Spread  ...  Mid-Career 90th Percentile Salary
Group                ...
STEM     101,600.00  ...                         157,625.00
Business 103,958.33  ...                         147,525.00
HASS      95,218.18  ...                         129,363.64

[3 rows x 5 columns]